/* Design Rules---------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Patrick+Hand&display=swap');

:root {
  --bg: #F4F4F4;
  --white: #FFFFFF;
  --text: #242424;
  --text-soft: #000000;
  --surface: rgba(255, 255, 255, 0.70);
  --surface-hover: rgba(255, 255, 255, .35);
  --border-light: rgba(36, 36, 36, .08);

  --font-main: 'Finger Paint', cursive;
  --font-elegant: "Patrick Hand", cursive;

  --shadow-frame:
    0 .06rem 0 rgba(36, 36, 36, .08),
    0 .75rem 1.75rem rgba(0, 0, 0, .05),
    0 2.5rem 4.4rem rgba(0, 0, 0, .08);
}

/* General --------------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font-main);
  background: var(--bg);
  color: var(--text);
}

body.board-open {
  overflow: hidden;
}